.c-footer {
    color: var(--text-color);
    width: 100%;
    padding: 1em;
    margin: 0 auto;
    background: var(--background-color);
    text-align: center;
    border-top: 1px solid var(--text-color);
    z-index: 10;

    &__content {
        display: flex;
        width: 85%;
        margin: 0 auto;
        justify-content: center;

        @include respond(phone) {
            flex-flow: column;
        }
    }

    &__center {
        text-align: center;
        display: flex;
        align-items: center;

        @include respond(phone) {
            width: 100%;
            text-align: center;
        }
    }

    &__link {
        color: inherit;
        text-decoration: none;
    }

    &__icon-heart {
        margin: 0 5px;
    }
}
